<% action_url = '/recurring_events/' + @recurring_event.id.to_s %>

<h2>Edit this event</h2>

<% if flash.now[:errors] %>
  <ul>
    <% flash.now[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'form', action_type: :update, recurring_event: @recurring_event %>

<%= button_to "Delete this event forever!", recurring_event_url(@recurring_event), method: :delete %>
