<h1>Recurring Events!</h1>
<div class="index-container">
  <ul>
    <% @recurring_events.each do |event| %>
      <% edit_url = '/recurring_events/' + event.id.to_s + '/edit' %>
      <li>
        <div><b><%= link_to event.name, event %></b></div>
        <div><%= link_to "Edit or delete", edit_url %></div>
        <div>Next occurrence: <%= event.get_next_occurrences(1).first %></div>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Make an event!', '/recurring_events/new' %>
