<h1>Recurring Events!</h1>
<div class="index-container">
  <ul>
    <% @recurring_events.each do |event| %>
      <li><%= link_to event.name, event %>

      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Make an event!', '/recurring_events/new' %>
