<h1>Recurring Events!</h1>
<div class="index-container">
  <ul>
    <% @recurring_events.each do |event| %>
      <% edit_url = '/recurring_events/' + event.id.to_s + '/edit' %>
      <li><%= link_to event.name, event %>
          <%= link_to "Edit event", edit_url %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Make an event!', '/recurring_events/new' %>
